@import "./foundation/settings";
@import "~foundation-sites/scss/foundation";
@include foundation-everything;

*,
*::before,
*::after {
  box-sizing: border-box;
}

$color-lighter-blue:#e8f7fa;
$color-green-gray:#c8d3cf;
$color-dark-green-gray: #a6bab3;
$color-sage-green:#9cbc9e;
$color-dark-sage-green: #7c8f77;
$color-brighter-green: #5a9a6d;
$color-army-green: #434e49;
$color-darker-green: #1f2120;
$color-lightened-darker-green: lighten($color-army-green, 35%);
$master-font: 'Geneva';
$light-font-color: white;
$dark-font-color:$color-darker-green;

body {
  background-color: $color-green-gray;
}

:root {
  -moz-tab-size: 4;
  tab-size: 4;
}

.list-link {
  font-size: 24px;
  color: $dark-font-color;
  &:hover {
    color: $dark-font-color;
  }
}

.add-park-link {
  font-size: 24px;
  border-radius: 30px;
  border: 1px solid $color-darker-green;
  color: $dark-font-color;
  background-color: $color-dark-green-gray;
  text-transform: uppercase;
  letter-spacing: 1px;
  width: 100%;
  padding: 1rem;
  margin-top: 4em;
  align-items: center;
  transition: all ease .4s;

  &:hover {
    background-color: $color-brighter-green;
    border-color: $color-brighter-green;
    color: $dark-font-color
  }
}

.sign-in-form {
  padding: 1rem 1.5em;
  border-radius: .5rem;
  background-color: $color-army-green;

  .sign-in-header {
    color: $light-font-color;
    text-transform: uppercase;
    margin-bottom: 1rem;
    font-weight: 600;
    font-family: $master-font;
    text-align: center
  }

  label {
    color: $light-font-color;
    letter-spacing: 1px;
    font-weight: 600;
    margin-bottom: 1rem;
    font-family: $master-font
  }

  input:focus {
    opacity: .9;
  }
}

.form-field-input {
  border-radius: 30px;
  border: none;
  opacity: .4;
  transition: all ease .4s;
}

.form-input {
  color: $dark-font-color;
}

.form-button {
  border-radius: 30px;
  border: 2px solid white;
  color: $light-font-color;
  font-weight: bolder;
  background-color: transparent;
  text-transform: uppercase;
  letter-spacing: 1px;
  width: 100%;
  padding: 1rem;
  transition: all ease .4s;

  &:hover {
    background-color: $color-brighter-green;
    border-color: $color-brighter-green;
  }
}

.sign-in-button-top-nav,
.sign-up-button-top-nav {
  color: $dark-font-color;
  background-color: transparent;
  text-transform: uppercase;
  letter-spacing: 1px;
  width: auto;
  vertical-align: bottom;
  padding: 1rem;
  transition: all ease .4s;
  font-family: $master-font;
  &:hover {
    color: $color-brighter-green;
  }
}

.hide-radio {
  display: none
}

.top-text-custom {
  color: $dark-font-color;
  font-family: $master-font;
  font-size: 20px;
  font-weight: bold;
  text-transform: uppercase;
  &:hover {
    color: $light-font-color;
  }
}

.top-bar {
  background: darken($color-green-gray, 25%);
  ul {
    background: darken($color-green-gray, 25%);
  }
}

.dog-parks-list {
  width: 30%;
  text-align: center;
  background-color: $color-green-gray;
  margin: 3rem 0rem;
  font-family: $master-font;
}

.dog-parks-list-item {
  &:hover {
    outline-color: $color-brighter-green;
    outline-width: 3px;
    outline-style: solid
  }
}

.dog-parks-index {
  margin: 3em;
}

.dog-show-page {
  margin: 3em;
  color: $dark-font-color;
  font-family:$master-font
}

.dog-parks-information {
  text-indent: 1.5em
}

.tag-cloud {
  margin: 1rem;
  .tag-cloud-individual-tag {
    @include label;
    border-radius: 5000px;
    background: $color-darker-green;
    color: $light-font-color;
    margin: 3px;
    text-transform: uppercase;
    font-weight: bold;

    &:hover {
      background: darken($color-darker-green, 25%);
      transition: background-color .2s ease-in;
    }
  }
}

.date-text {
  font-style: italic;
}

.dark-text{
  color: $color-darker-green;
  font-family: $master-font;
}

.review-form {
  padding: 1.5rem 1.5em;
  border-radius: 1rem;
  background-color: $color-lightened-darker-green;

  .review-header {
    color: $light-font-color;
    text-transform: uppercase;
    margin-bottom: 1rem;
    font-weight: 600;
    font-family: $master-font;
    text-align: center
  }

  input:focus {
    opacity: .9;
  }
}

.same-line {
  display: inline-flex
}

.home-page-icon {
  font-size: 50px;
  margin: 7px;
}

.left-margin {
  margin-left: 10px;
}

.right-margin-smaller {
  margin-right: 5px
}

.right-margin {
  margin-right: 10px;
}

.home-text {
  text-align: center;
  color: $dark-font-color;
  font-family: $master-font;
}

.bold-text {
  font-weight: bolder;
}

.form-header-text {
  font-family:$master-font;
  font-weight: bolder;
  color: $dark-font-color
}

.new-park-form {
  @include grid-row();
  padding: 1rem 1.5em;
  border-radius: .5rem;
  background-color: $color-dark-green-gray;
  border-color:$color-green-gray;
  border-radius: 30px;

  .new-park-header {
    color: $dark-font-color;
    margin-bottom: 1rem;
    font-weight: 600;
    font-family: $master-font;
    text-align: center
  }

  label {
    color: $dark-font-color;
    letter-spacing: 1px;
    font-weight: 600;
    margin-bottom: 1rem;
    font-family: $master-font
  }

  input:focus {
    opacity: .9;
  }
}

.form-button-dark {
  border-radius: 30px;
  border: 2px solid $dark-font-color;
  color: $dark-font-color;
  font-weight: bolder;
  background-color: transparent;
  text-transform: uppercase;
  letter-spacing: 1px;
  width: 100%;
  padding: 1rem;
  transition: all ease .4s;

  &:hover {
    background-color: $color-brighter-green;
    border-color: $color-brighter-green;
  }
}


.rating {
  display: flex;
  flex-direction: row-reverse;
  justify-content: center;
  }
  .rating > input{
   display:none;
  }
  // .rating > label {
  // position: relative;
  // width: 1.1em;
  // font-size: 15vw;
  // color: $color-brighter-green;
  // cursor: pointer;
  // }
  .rating > label::before{
  content: "\2605";
  position: absolute;
  opacity: 0;
  }
  .rating > label:hover:before,
  .rating > label:hover ~ label:before {
  opacity: 1 !important;
  }
  .rating > input:checked ~ label:before{
  opacity:1;
  }

