@import "./foundation/settings";
@import "~foundation-sites/scss/foundation";
@include foundation-everything;

*,
*::before,
*::after {
  box-sizing: border-box;
}

$color-lighter-blue:#e8f7fa;
$color-green-gray:#c8d3cf;
$color-lightened-green-gray: lighten($color-green-gray, 35%);
$color-dark-green-gray: #a6bab3;
$color-sage-green:#9cbc9e;
$color-dark-sage-green: #7c8f77;
$color-brighter-green: #5a9a6d;
$color-army-green: #434e49;
$color-darker-green: #1f2120;
$color-lightened-darker-green: lighten($color-army-green, 35%);
$master-font: 'Geneva';
$light-font-color: white;
$dark-font-color:$color-darker-green;
$color-delete: rgb(215, 122, 122);

body {
  background-color: $color-green-gray;
}

:root {
  -moz-tab-size: 4;
  tab-size: 4;
}

.list-link {
  font-size: 24px;
  color: $dark-font-color;

  &:hover {
    color: $dark-font-color;
  }
}

.add-park-link {
  font-size: 24px;
  border-radius: 30px;
  border: 1px solid $color-darker-green;
  color: $dark-font-color;
  background-color: $color-dark-green-gray;
  text-transform: uppercase;
  letter-spacing: 1px;
  width: 100%;
  padding: 1rem;
  margin-top: 4em;
  align-items: center;
  transition: all ease .4s;

  &:hover {
    background-color: $color-brighter-green;
    border-color: $color-brighter-green;
    color: $dark-font-color
  }
}

.sign-in-form {
  padding: 1rem 1.5em;
  border-radius: .5rem;
  background-color: $color-army-green;

  .sign-in-header {
    color: $light-font-color;
    text-transform: uppercase;
    margin-bottom: 1rem;
    font-weight: 600;
    font-family: $master-font;
    text-align: center
  }

  label {
    color: $light-font-color;
    letter-spacing: 1px;
    font-weight: 600;
    margin-bottom: 1rem;
    font-family: $master-font
  }

  input:focus {
    opacity: .9;
  }
}

.form-field-input {
  border-radius: 30px;
  border: none;
  opacity: .4;
  transition: all ease .4s;
}

.form-input {
  color: $dark-font-color;
}

.form-button {
  border-radius: 30px;
  border: 2px solid white;
  color: $light-font-color;
  font-weight: bolder;
  background-color: transparent;
  text-transform: uppercase;
  letter-spacing: 1px;
  width: 100%;
  padding: 1rem;
  transition: all ease .4s;

  &:hover {
    background-color: $color-brighter-green;
    border-color: $color-brighter-green;
  }
}

.sign-in-button-top-nav,
.sign-up-button-top-nav {
  color: $dark-font-color;
  background-color: transparent;
  text-transform: uppercase;
  letter-spacing: 1px;
  width: auto;
  vertical-align: bottom;
  padding: 1rem;
  transition: all ease .4s;
  font-family: $master-font;
}

.top-text-custom {
  color: $dark-font-color;
  font-family: $master-font;
  font-size: 20px;
  font-weight: bold;
  text-transform: uppercase;

  &:hover {
    color: $light-font-color;
  }
}

.top-bar {
  background: darken($color-green-gray, 25%);
  ul {
    background: darken($color-green-gray, 25%);
  }
}

.dog-parks-list {
  width: 30%;
  text-align: center;
  background-color: $color-green-gray;
  margin: 3rem 0rem;
  font-family: $master-font;
}

.dog-parks-list-item {

  &:hover {
    outline-color: $color-brighter-green;
    outline-width: 3px;
    outline-style: solid
  }
}

.dog-parks-index {
  margin: 3rem;
}

.dog-show-page {
  margin: 1.5em;
  color: $dark-font-color;
  font-family:$master-font
}

.dog-parks-information-section {
  padding-left: 1em;
  font-size: 16px;
  font-family: $master-font;
}

.address-bold {
  font-weight: bold;
}

.dog-parks-description {
  font-size: 14px;
  font-family: $master-font;
}

.tag-cloud {
  margin-bottom: 1rem;
  .tag-cloud-individual-tag {
    @include label;
    border-radius: 5000px;
    background: $color-darker-green;
    color: $light-font-color;
    margin: 3px;
    text-transform: uppercase;
    font-weight: bold;

    &:hover {
      background: darken($color-darker-green, 25%);
      transition: background-color .2s ease-in;
    }
  }
}

.date-text {
  font-style: italic;
  font-size: 14px;
}

.dark-text{
  color: $color-darker-green;
  font-family: $master-font;
}

.review-form {
  @include grid-row();
  padding: 1.5rem 1.5em;
  border-radius: 1rem;
  background-color: $color-lightened-darker-green;

  input:focus {
    opacity: .9;
  }
}

.same-line {
  display: inline-flex
}

.home-page-icon {
  font-size: 50px;
  margin: 7px;
}

.left-margin {
  margin-left: 10px;
}

.right-margin {
  margin-right: 10px;
}

.right-side {
  margin-left: auto;
}

.home-text {
  text-align: center;
  color: $dark-font-color;
  font-family: $master-font;
}

.bold-text {
  font-weight: bolder;
}

.form-header-text {
  font-family:$master-font;
  font-weight: bolder;
  color: $dark-font-color
}

.new-park-form {
  @include grid-row();
  padding: 1rem 1.5em;
  border-radius: .5rem;
  background-color: $color-dark-green-gray;
  border-color:$color-green-gray;
  border-radius: 30px;

  .new-park-header {
    color: $dark-font-color;
    margin-bottom: 1rem;
    font-weight: 600;
    font-family: $master-font;
    text-align: center
  }

  label {
    color: $dark-font-color;
    letter-spacing: 1px;
    font-weight: 600;
    margin-bottom: 1rem;
    font-family: $master-font
  }

  input:focus {
    opacity: .9;
  }
}

.form-button-dark {
  border-radius: 30px;
  border: 2px solid $dark-font-color;
  color: $dark-font-color;
  font-weight: bolder;
  background-color: transparent;
  text-transform: uppercase;
  letter-spacing: 1px;
  width: 100%;
  padding: 1rem;
  transition: all ease .4s;

  &:hover {
    background-color: $color-brighter-green;
    border-color: $color-brighter-green;
  }
}

.delete-button-dark {
  border-radius: 30px;
  border: 1px solid $dark-font-color;
  color: $dark-font-color;
  font-weight: bolder;
  font-size: small;
  background-color: transparent;
  text-transform: uppercase;
  letter-spacing: 1px;
  width: 25%;
  padding: .5rem;
  transition: all ease .4s;

  &:hover {
    background-color: $color-delete;
    border-color: $color-delete;
  }
}

.review-callout {

  &:hover {
    outline-width: .25rem;
    outline-style: solid;
    outline-color: $color-brighter-green;
  }
}

.park-show-header {
  font-family: $master-font;
  font-size: 40px;
  color: $dark-font-color;
  font-weight: bolder;
  padding: 1;
}

.review-list-header {
  font-family: $master-font;
  font-size: 24px;
  color: $dark-font-color;
  font-weight: bolder;
  margin: 10px;
  padding-top: .75rem;
}

.review-tile-header {
  font-family: $master-font;
  font-size: 20px;
  font-weight: bold;
  color: $dark-font-color;
}

.review-tile-text {
  font-family: $master-font;
  font-size: 14px;
  color: $dark-font-color;
}