@import "./foundation/settings";
@import "~foundation-sites/scss/foundation";
@include foundation-everything;

*,
*::before,
*::after {
  box-sizing: border-box;
}

$color-lighter-blue:#e8f7fa;
$color-green-gray:#c8d3cf;
$color-lightened-green-gray: lighten($color-green-gray, 35%);
$color-dark-green-gray: #a6bab3;
$color-sage-green:#9cbc9e;
$color-dark-sage-green: #7c8f77;
$color-brighter-green: #5a9a6d;
$color-army-green: #434e49;
$color-darker-green: #1f2120;
$color-lightened-darker-green: lighten($color-army-green, 35%);
$master-font: 'Trebuchet MS';
$light-font-color: white;
$dark-font-color:$color-darker-green;
$color-delete: rgb(215, 122, 122);
$color-edit: rgb(137, 174, 239);

body {
  background-color: $color-green-gray;
}

:root {
  -moz-tab-size: 4;
  tab-size: 4;
}

.list-link {
  font-size: 24px;
  color: $dark-font-color;

  &:hover {
    color: $dark-font-color;
  }
}

.add-park-link {
  font-size: 24px;
  border-radius: 30px;
  border: 1px solid $color-darker-green;
  color: $dark-font-color;
  background-color: $color-dark-green-gray;
  text-transform: uppercase;
  letter-spacing: 1px;
  width: 100%;
  padding: 1rem;
  margin-top: 4em;
  align-items: center;
  transition: all ease .4s;

  &:hover {
    background-color: $color-brighter-green;
    border-color: $color-brighter-green;
    color: $dark-font-color
  }
}

.sign-in-form {
  padding: 1rem 1.5em;
  border-radius: 1rem;
  background-color: $color-army-green;
  margin-right: 10%;
  margin-left: 10%;
  margin-top: 5%;
  margin-bottom: 5%;

  .sign-in-header {
    color: $light-font-color;
    text-transform: uppercase;
    margin-bottom: 1rem;
    font-weight: 600;
    font-family: $master-font;
    text-align: center
  }

  label {
    color: $light-font-color;
    letter-spacing: 1px;
    font-weight: 600;
    margin-bottom: 1rem;
    font-family: $master-font
  }

  input:focus {
    opacity: .9;
  }
}

.form-field-input {
  border-radius: 30px;
  border: none;
  opacity: .7;
  transition: all ease .4s;
}

.form-input {
  color: $dark-font-color;
}

.form-button {
  border-radius: 30px;
  border: 2px solid white;
  color: $light-font-color;
  font-weight: bolder;
  background-color: transparent;
  text-transform: uppercase;
  letter-spacing: 1px;
  width: 100%;
  padding: 1rem;
  transition: all ease .4s;

  &:hover {
    background-color: $color-brighter-green;
    border-color: $color-brighter-green;
  }
}

.sign-in-button-top-nav,
.sign-up-button-top-nav {
  color: $dark-font-color;
  background-color: transparent;
  text-transform: uppercase;
  letter-spacing: 1px;
  width: auto;
  vertical-align: bottom;
  padding: 1rem;
  transition: all ease .4s;
  font-family: $master-font;
}

.top-text-custom {
  color: $dark-font-color;
  font-family: $master-font;
  font-size: 20px;
  font-weight: bold;
  text-transform: uppercase;

  &:hover {
    color: $light-font-color;
  }
}

.top-bar {
  background: darken($color-green-gray, 25%);
  ul {
    background: darken($color-green-gray, 25%);
  }
}

.dog-parks-list {
  width: 30%;
  text-align: center;
  background-color: $color-green-gray;
  margin: 1rem 0rem 2rem 0rem;
  font-family: $master-font;
}

.dog-parks-list-item {

  &:hover {
    outline-color: $color-brighter-green;
    outline-width: 3px;
    outline-style: solid
  }
}

.dog-parks-index {
  margin: 3rem;
}

.dog-show-page {
  margin: 1.5em;
  color: $dark-font-color;
  font-family:$master-font
}

.dog-parks-information-section {
  padding: 1em; 
  font-size: 18px;
  font-family: $master-font;
  background-color: white;
  margin-bottom: 1rem;
  border-radius: 1rem;
}

.address-bold {
  font-weight: bold;
}

.dog-parks-description {
  font-size: 16px;
  font-family: $master-font;
}

.tag-cloud {
  margin-bottom: 1rem;
  .tag-cloud-individual-tag {
    @include label;
    border-radius: 5000px;
    background: $color-darker-green;
    color: $light-font-color;
    margin: 3px;
    text-transform: uppercase;
    font-weight: bold;

    &:hover {
      background: darken($color-darker-green, 25%);
      transition: background-color .2s ease-in;
    }
  }
}

.date-text {
  font-style: italic;
  font-size: 14px;
  padding-top: 1rem
}

.dark-text{
  color: $color-darker-green;
  font-family: $master-font;
}

.review-form {
  @include grid-row();
  padding: 1.5rem 1.5em;
  border-radius: 1rem;
  background-color: $color-lightened-darker-green;

  input:focus {
    opacity: .9;
  }
}

.same-line {
  display: inline-flex;
  margin-top: 1%;
}

.home-page-icon {
  font-size: 50px;
  margin: 7px;
}

.left-margin {
  margin-left: 10px;
}

.right-margin-smaller {
  margin-right: 5px
}

.right-margin {
  margin-right: 10px;
}

.right-side {
  margin-left: auto;
  margin-right: 1rem
}

.home-text {
  text-align: center;
  color: $dark-font-color;
  font-family: $master-font;
}

.bold-text {
  font-weight: bolder;
}

.form-header-text {
  font-family:$master-font;
  font-weight: bolder;
  color: $dark-font-color
}

.new-park-form {
  @include grid-row();
  padding: 1rem 1.5em;
  border-radius: .5rem;
  background-color: $color-lightened-darker-green;
  border-color:$color-green-gray;
  border-radius: 30px;
  width: 90%;
  margin-top: 3%;
  margin-bottom: 3%;

  .new-park-header {
    color: $dark-font-color;
    margin-bottom: 1rem;
    font-weight: 600;
    font-family: $master-font;
    text-align: center
  }

  label {
    color: $dark-font-color;
    letter-spacing: 1px;
    font-weight: 600;
    margin-bottom: 1rem;
    font-family: $master-font
  }

  input:focus {
    opacity: .9;
  }
}

.form-button-dark {
  border-radius: 30px;
  border: 2px solid $dark-font-color;
  color: $dark-font-color;
  font-weight: bolder;
  background-color: transparent;
  text-transform: uppercase;
  letter-spacing: 1px;
  width: 100%;
  padding: 1rem;
  transition: all ease .4s;
  margin-bottom: 1em;

  &:hover {
    background-color: $color-brighter-green;
    border-color: $color-brighter-green;
  }
}

.rating {
  display: flex;
  flex-direction: row-reverse;
  justify-content: center;
}

.rating > input {
  display: none;
}

.rating > label {
  position: relative;
  width: 1.1em;
  font-size: 28px;
  color: $color-darker-green;
  cursor: pointer;
  line-height: 1;
}

.rating > label::before {
  content: "\2605";
  position: absolute;
  opacity: 0;
}

.rating > label:hover:before,
.rating > label:hover ~ label:before {
  opacity: 1 !important;
  width: 1.1em;
  font-size: 28px;
}

.rating > input:checked ~ label:before {
  opacity: 1;
  width: 1.1em;
}

.delete-button-dark {
  border-radius: 30px;
  border: 1px solid $dark-font-color;
  color: $dark-font-color;
  font-weight: bolder;
  font-size: small;
  background-color: transparent;
  text-transform: uppercase;
  letter-spacing: 1px;
  width: 15%;
  padding: .5rem;
  transition: all ease .4s;

  &:hover {
    background-color: $color-delete;
    border-color: $color-delete;
  }
}

.override-button-width {
  width: 25%;
}

.override-button-color {
  &:hover {
    background-color: $color-edit;
    border-color: $color-edit;
  }
}

.review-callout {

  &:hover {
    outline-width: .25rem;
    outline-style: solid;
    outline-color: $color-brighter-green;
  }
}

.park-show-header {
  font-family: $master-font;
  font-size: 40px;
  color: $dark-font-color;
  font-weight: bolder;
  padding: 1;
}

.review-list-header {
  font-family: $master-font;
  font-size: 24px;
  color: $dark-font-color;
  font-weight: bolder;
  margin: 10px;
  padding-top: .75rem;
}

.review-tile-header {
  font-family: $master-font;
  font-size: 20px;
  font-weight: bold;
  color: $dark-font-color;
}

.review-tile-text {
  font-family: $master-font;
  font-size: 14px;
  color: $dark-font-color;
}

.center-text {
  text-align: center;
}

.text-box-review-form {
    margin-top: 10px;
    height: 175px;
    font-size: 14pt;
    word-break: break-word;
}

.small-margin-top {
  margin-top: 20px;
}

.smaller-margin-top {
  margin-top: 10px;
}

.title-font {
  font-family: $master-font;
}

.image-size {
  width: 90%;
  outline-style: solid;
  outline-color: white;
  outline-width: 6px;
}

.home-page-footer-text {
  margin: 3%;
  font-family: $master-font;
  font-style: italic;
  color: $dark-font-color;  
}

.image-drop-section {
  border-radius: 1rem;
  font-family: $master-font;
  color: $dark-font-color;
  font-style: italic;
}

.font-size {
  font-size: 17px;
}